.grid-wrapper {
  width: 25rem;
  height: 30rem;
  background-color: blueviolet;
  display: grid;
  grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template: grid-template-rows / grid-template-columns; */
  /* grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr; */
  /* 1fr 1fr 1fr 1fr 1fr --> repeat(5, 1fr) */
}

.grid-item {
  background-color: cornsilk;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  /* grid-column: 1 / 4 ; */
}

.item11 {
  grid-column: 1 / 4;
}

.item12 {
  grid-column: 1 / 4;
}

.item0 {
  grid-column: 1 / 4;
}
